#second{
    width: 100%;
    padding: 88px 0px;

    h1{
        width: 711px;
        color: $primary-color;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -1.6px;
        margin: 0px auto 80px;
    }

    .second--wrapper--swiperwrap{

        &--swiper{
            overflow-x: hidden;

            &-top{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-left: 300px;
                transform: translateX(0px);
                animation: move 5.5s infinite;

                img{
                    display: flex;
                    padding: 16px 24px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    border: 1px solid $border-color;
                    transition: all .1s linear;
                    cursor: pointer;
                    &:hover{
                        background: $border-color;
                        transition: all .1s linear;
                    }
                }
            }

            &-botton{
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 20px;
                transform: translateX(-2450px);
                animation: move2 5s infinite;

                img{
                    display: flex;
                    padding: 16px 24px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    border: 1px solid $border-color;
                    transition: all .1s linear;
                    cursor: pointer;
                    &:hover{
                        background: $border-color;
                        transition: all .1s linear;
                    }
                }
            }
        }
    }
}


@keyframes move {
    0% {
      transform: translateX(0);
    }
    10% {
        transform: translateX(-350px);
    }
    10% {
        transform: translateX(-700px);
    }
    20% {
        transform: translateX(-1050px);
    }
    25% {
        transform: translateX(-1400px);
    }
    30% {
      transform: translateX(-1750px);
    }
    30% {
        transform: translateX(-2100px);
      }
    40% {
        transform: translateX(-2450px);
    }
    45% {
        transform: translateX(-2800px);
        opacity: 1;
    }
    50% {
        transform: translateX(-2800px);
        opacity: 0;
    }
    60% {
      opacity: 0;
      transform: translateX(1100px);
    }
    70% {
        opacity: 1;
        transform: translateX(1000px);
    }
    80% {
        opacity: 1;
        transform: translateX(660px);
    }
    90% {
        opacity: 1;
        transform: translateX(330px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes move2 {
    0% {
      transform: translateX(-1700px);
    }
    10% {
        transform: translateX(-1350px);
    }
    15% {
        transform: translateX(-1000px);
    }
    20% {
        transform: translateX(-650px);
    }
    25% {
        transform: translateX(-300px);
    }
    30% {
      transform: translateX(-00px);
    }
    35% {
        transform: translateX(350px);
    }
    40% {
        transform: translateX(700px);
        opacity: 1;
    }
    45% {
        transform: translateX(1100px);
        opacity: 1;
    }
    50% {
        transform: translateX(1450px);
        opacity: 1;
    }
    50% {
        transform: translateX(1800px);
        opacity: 0;
    }
    60% {
      opacity: 0;
      transform: translateX(-25000px);
    }
    70% {
        opacity: 1;
        transform: translateX(-2250px);
    }
    80% {
        opacity: 1;
        transform: translateX(-2000px);
    }
    90% {
        opacity: 1;
        transform: translateX(-1850px);
    }
    100% {
        opacity: 1;
        transform: translateX(-1700px);
    }

}