#sixth{
    width: 100%;
    padding: 88px 0px;

    .sixth--wrap{

        h1{
            color: $text-color;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -1.6px;
            margin-bottom: 88px;
        }

        &--cards{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 24px;

            p{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $color-brend;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.8px;
                margin: 50px 0px 20px;
                

                span:nth-child(1){
                    padding-right: 12px;
                    position: relative;
                    &::before{
                        content: "";
                        height: 100%;
                        width: 2px;
                        background: $color-brend;
                        position: absolute;
                        right: 0;
                    }
                }
            }

            h3{
                width: 411px;
                color: $text-color;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        button{
            padding: 20px 32px;
            border: 1px solid $color-brend;
            background: transparent;
            cursor: pointer;
            margin-top: 88px;
            transition: all .2s linear;

            &:hover{
                background: $color-brend;
                transition: all .2s linear;

                a{
                    color: $secondary-color;
                }
            }

            &:active{
                background: transparent;
                transition: all .2s linear;

                a{
                    color: $color-brend;
                }
            }

            a{
                display: flex;
                align-items: center;
                gap: 8px;
                color: $color-brend;
            }
        }
    }
}
